<header>
  <div class="topnav">
    <a href="home">Home</a>
    <a href="favourites">My Favourites</a>
    <a href="contact">Contact Us</a>
    <a class="active" href="about">About</a>
    <h4 routerLink="/login">Logout</h4>
  </div>
</header>

<div class="login">
  <img src="assets/images/logo.png">

  <h6
    style="text-align: justify; padding: 20px; font-size: 14px; border-top:10px solid #ff6b6b; border-bottom:10px solid #ff6b6b; margin-bottom: 10px;">
    <b>(TALE)ER is nothing but a website where one can read or listen to the different kinds of stories. As name suggest
      it is kind of a story telling application for the user. Here TALE means story and the person who tells a story is
      known as teller that’s why the name of our application is (TALE)ER. We are targeting the children’s stories at the
      first stage of application development and eventually we can add different stories based on different genres like
      fiction, sci-fi etc. for adults. This application can be use anywhere to read some stories and get relaxed for
      some time in this stressful life. The main outcome of the project is to develop a fully functional web application
      that allows users to log in to their personal account and allow them to read or listen to different stories. Also,
      users can be able to make a personalized list of their own favorite bedtime stories.</b></h6>


</div>