<div class="col-sm-6" style="background-color:#f1f1f1; height: 100%;">
    <div class="card">
        <img src={{url}} alt="Avatar" style="width:100% ">
    </div>
</div>

<div class="col-sm-1" style="background-color:#f1f1f1; height: 100%;">
</div>

<div class="col-sm-4" style="height: 100%;">
    <div>
        <h2 style="color:#ff6b6b; text-align: center;"><b>{{storyData.storyName}}
            </b></h2>
    </div>
    <div class="card" style="width:100%; overflow:hidden !important; text-overflow: ellipsis; text-align: justify;"><b
            style="font-size: 12px;">{{storyData.story}}</b>
        <div style="margin: 20px;">
            <div class="col-sm-6" style="height: 100%; text-align: center;"><button class="button button1"
                    (click)="start(storyData.story)">Play</button></div>
            <div class="col-sm-6" style="height: 100%; text-align: center;"><button class="button button1"
                    (click)="stop()">Stop</button></div>
        </div>
    </div>

</div>

<div class="col-sm-1" style="background-color:#f1f1f1; height: 100%;">

</div>