<div *ngIf="!showMsg" class="login">
  <img src="assets/images/logo.png">
  <form [formGroup]="formdata" (ngSubmit)="onSubmit(formdata.value)">
    <input formControlName="emailid" type="text" placeholder="Email Address">
    <input formControlName="password" type="password" placeholder="Password">
    <div class="button">
      <button type="submit">Sign Up</button>
    </div>
    <div class="forgot">
      <h4>Already a user? click <a routerLink="/login">here</a></h4>
    </div>
  </form>
</div>


<div *ngIf="showMsg" class="login">
  <img src="assets/images/logo.png">
  <form [formGroup]="formdata" (ngSubmit)="onSubmit(formdata.value)">
    <h3 style="color: #ff4d4d;">Email you have entered is already registered in the database.</h3>
    <div class="forgot">
      <h4 style="margin: 20px;">Want to try again? <a (click)="ngOnInit()">Click here!</a></h4>
      <h3 style="text-align: center;">OR</h3>
      <h4 style="margin: 20px;">try to <a routerLink="/login">login</a> with the email you entered.</h4>
    </div>
  </form>
</div>