<header>
  <div class="topnav">
    <a href="home">Home</a>
    <a href="favourites">My Favourites</a>
    <a class="active" href="contactus">Contact Us</a>
    <a href="about">About</a>
    <h4 routerLink="/login">Logout</h4>
  </div>
</header>

<div class="login">
  <img src="assets/images/logo.png">

  <h6
    style="text-align: justify; padding: 20px 15px 20px 15px; font-size: 14px; border-top:10px solid #ff6b6b; border-bottom:10px solid #ff6b6b; margin-bottom: 10px;">
    <b>
      Name: Vaibhavi Purushottam Arjunwadkar<br>
      Email ID: vpa6818@mavs.uta.edu<br>
      Student ID: 1001826818<br>
      Address: The University of Texas at Arlington, 701 South Nedderman Drive, Arlington, TX, 76019
    </b></h6>
  <!-- <h6
    style="text-align: justify; padding: 10px 15px 20px 15px; font-size: 14px; border-bottom:10px solid #ff6b6b; margin-bottom: 10px;">
    <b>
      Name: Abhinav Kantamaneni <br>
      Email ID: axk8874@mavs.uta.edu<br>
      Student ID: 1001978874<br>
      Address: The University of Texas at Arlington, 701 South Nedderman Drive, Arlington, TX, 76019
    </b></h6> -->


</div>